@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Microsoft JhengHei", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.white-font {
  color: #ffffff;
}

.red-font {
  color: #650300;
}

.title-font {
  font-size: 48px;
  line-height: 72px;
}

.medium-font {
  font-size: 24px;
  line-height: 30px;
}

.sm-font {
  font-size: 20px;
  line-height: 30px;
}

.smm-font {
  font-size: 16px;
  line-height: 24px;
}

.pb-pt64 {
  padding: 64px 0;
}

.mb-80 {
  margin-bottom: 80px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}